<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>
<body>
<header class="site-header">
    <h4 class="logo">Book Store</h4>
    <a href="/" class="nav-link">Home</a>
    <a href="registerBook" class="nav-link">Register Book</a>
    <a href="availableBooks" class="nav-link">Available Books</a>
    <a href="myBooks" class="nav-link">My Books</a>
</header>
</body>
</html>